.ranking {
  font-size: 24px;
  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 40px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 60px;
  }

  .lgd img {
    position: relative;
    top: -2px;
  }
}
